
# os related
*.swp
.DS_Store

# JavaScript / TypeScript related
package.json
node_modules

# Python2 / Python3 related
requirements.txt
__pycache__
venv*
*venv

# idea / editor related
*.code-workspace

# git setup related
.pre-commit-config.yaml
